
.toDo-list {
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;}

.toDo-list-item {
  position: relative;
  color: transparent;
  cursor: pointer; }
  .toDo-list-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 49%;
    left: -10%;
    right: -10%;
    height: 4px;
    border-radius: 4px;
    margin-top: -2px;
    background: #FF2C75;
    transform: scale(0);
    transition: transform 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    z-index: 1; }

.Mask {
  display: block;
  position: absolute;
  overflow: hidden;
  color:black;
  top: 0;
  height: 49%;
  transition: all 0.8s cubic-bezier(0.16, 1.08, 0.38, 0.98); }
  .Mask span {
    display: block; }

.Mask + .Mask {
  top: 48.9%;
  height: 51.1%; }
  .Mask + .Mask span {
    transform: translateY(-49%); }

.toDo-list-item:hover .Mask,
.toDo-list-item:active .Mask {
  color: #FFF;
  transform: scale(1) skewX(12deg) translateX(10px); } /* 기울게 하는 역할(skewX -> X축으로 기우는 각도, translateX -> X축으로 얼마나 이동할 것인지 */

.toDo-list-item:hover .Mask + .Mask,
.toDo-list-item:active .Mask + .Mask {
  transform: skewX(12deg) translateX(10px); }

.toDo-list-item:hover::before,
.toDo-list-item:active::before {
  transform: scale(1); }
